* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: repeat(5, 255px);
    grid-template-rows: repeat(20, 100px);
    background-color: #CAD5CA;
    color: #392D32;
    font-family: 'playfair', serif;
}

.logo {
    height: 100px;
    width: 100px
}

h1 {
    grid-row: 1;
    grid-column: 4/7;
    color:#DBC8A9;
    text-align: center;
}

header {
    display: grid;
    grid-column: 1/9;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 20px);
    background-color:#6f00ff;
    text-align: right;
}

header h1 {
    padding-right: 400px;
}

.heroImage {
    width: 1276px;
    height: 500px;
}

nav {
    padding-right: 40px;
    grid-column: 6;
    grid-row: 3;
}

.join {
    text-align: center;
    width: 100px;
    height: 10px;
    grid-column: 3;
    grid-row: 4;
    padding-bottom: 15px;
}

a {
    background-color: #6f00ff;
    color:#DBC8A9;
    text-decoration: none;
    border:#DBC8A9 solid 2px;
    padding: 10px;
}

a:hover {
    text-decoration: underline;
}

h3 {
    color:#DBC8A9;
    background-color: #6f00ff;
    border:#DBC8A9 solid 2px;
    text-align: center;
}

.events {
    text-align: center;
    grid-column: 2;
    grid-row: 8/10;
    background-color:#392D32;
    color: #DBC8A9;
    border:#DBC8A9 solid 2px;
}

.weather {
    text-align: center;
    grid-column: 3;
    grid-row: 8/10;
    background-color:#392D32;
    color: #DBC8A9;
    border:#DBC8A9 solid 2px;
}

.advertisement {
    text-align: center;
    grid-column: 4;
    grid-row: 8/10;
    background-color:#392D32;
    color: #DBC8A9;
    border:#DBC8A9 solid 2px;
}

.discover {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(6, 300px);
    grid-column: 1/5;
}

.discover section {
    color:#DBC8A9;
    background-color: #392D32;
    margin-top: 30px;
    margin-bottom: 20px;
}

#statistics {
    grid-column: 2;
    grid-row: 2;
}

#upcomeEvents {
    grid-column: 2;
    grid-row: 3;
}

.calendar {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 2;
    grid-row: 4;
}

.weekdays li {
    grid-row: 1;
    display: inline-block;
    width: 13.6%;
    text-align: center;
}

.days li {
    grid-template-rows: 2;
    display:inline-block;
    width:13.6%;
    text-align: center;
}

.discover p {
    text-align: center;
    padding:25px;
}

.discover figure {
    grid-column: 4;
}

.discover img {
    width: 350px;
    height: 200px;
    padding: 5px;
}

.discover img:hover {
    box-shadow: 10px 10px 5px lightblue;
    transform: scale(1.1);
    transition-duration: 1s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

form {
    color:#392D32;
    grid-column: 2/3;

}

form legend {
    margin: 0 1rem;
    padding: 0.5rem;
    font-size: 16px;
    text-align: center;
}

form fieldset {
    border:#392D32 solid 1px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

form fieldset label input {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

form fieldset label input:required {
    border: red solid 2px;
}

form fieldset label input:required:valid {
    border: green solid 2px;
}

#submit {
    width: 100%;
    color: cornsilk;
    background-color:#392D32;
    border: none;
    border-radius: 0.75rem;
    padding: 5px;
    margin-top: 15px;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
}

#benefits {
    color:#DBC8A9;
    background-color:#6f00ff;
    position: absolute;
    left: 790px;
    right: 290px;
    bottom: 20px;
    text-align: center;
    line-height: 1.25;
}

#benefits p {
    background-color: #392D32;
}

form fieldset label input {
    display: block;
    width: 100%;
}

form fieldset div label input {
    display: inline-block;
}

form textarea {
    width: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.thankyou {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(6, 300px);
}
.thankyou section {
    grid-column: 2/6;
    grid-row: 1/3;
    font-size: 21px;
    text-align: center;
    line-height: 5rem;
}

section {
    background-color: #392D32;
}

section h1 {

    background-color:#6f00ff;
}

section p {
    color: #DBC8A9;
}

footer {
    display: grid;
    grid-template-columns: repeat(9, 150px);
    grid-template-rows: repeat(6, 20px);
    grid-column: 1/6;
    grid-row: 20;
    background-color: #6f00ff;
    color: #DBC8A9;
}

.localInfoHead {
    grid-column: 1;
    grid-row: 1;
}

.localInfo {
    grid-column: 1;
    grid-row: 2/3;
    text-align: center;
}

.contactInfoHead {
    grid-column: 4;
    grid-row: 1;
}

.contactInfo {
    grid-column: 4;
    grid-row: 2/3;
    text-align: center;
}

.facebook {
    grid-column: 7;
    grid-row: 2;
    border: 5px solid #DBC8A9;
    margin-left: 120px;
}

.twitter {
    grid-column: 8;
    grid-row: 2;
    border: 5px solid #DBC8A9;
    margin-left: 60px;
}

.instagram {
    grid-column: 9;
    grid-row: 2;
    border: 5px solid #DBC8A9;
}

.copyright {
    grid-column: 1/4;
    grid-row: 5;
    font-size: 10px;
    margin-top: 10px;
    white-space: nowrap;
}

@media only screen and (max-width: 40em) {
    .discover {
        grid-template-columns: 1fr;
    }

    .discover figure {
        grid-column: 1;
    }

    .discover section {
        display: flex;
        grid-column: 1;
    }

    .navigate {
        display: flex;
    }

    .navigate li {
        display: block;
        flex: 1 1 100%;
    }

    .navigate a {
        text-align: center;
    }

    #menu {
        display: none;
    }

	nav ul {
		display: flex;
        justify-content: space-around;
	}
	nav ul {
		flex: 1 1 100%;
	}
}